src/main/resources/META-INF/custom-alias.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.relyy.org/schema/alias"
        xmlns="http://www.relyy.org/schema/alias"
        elementFormDefault="qualified">
    <xsd:element name="alias">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" />
            <xsd:attribute name="name" type="xsd:string" />
            <xsd:attribute name="parent" type="xsd:string" />
            <xsd:attribute name="c_name" type="xsd:string" />
            <xsd:attribute name="c_alias" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>